<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles_landing.css')}}">
</head>
<body>
    <div class="landing-container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        <h1>Welcome to our AI-powered application form</h1>
        <p>This tool is designed to help you structure your ideas, clarify your goals, and plan your work effectively. It serves as both a resource for you, and a way for us to better understand your project and its intended impact.</p>
        <a href="{{ url_for('form_page') }}"><button>Start</button></a>
    </div>
</body>
</html>